<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>
      Story Board
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-card *ngFor="let scene of data; let index = index">
        <img [alt]="scene.descriptionAlt" [src]="scene.imageSrc" />
        <ion-card-header>
          <ion-card-subtitle>Cena {{index+1}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
