<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button default-href="#" (click)="returnToPage()"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!title">
      História
    </ion-title>
    <ion-title *ngIf="title">
      {{ title }}
    </ion-title>
    <ion-progress-bar [value]="progress" color="success"></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-footer>
  <ion-toolbar>
    <ion-grid class="flex">
      <ion-button color="danger" (click)="jumpToPrevious()" *ngIf="images[id-1]">
        <ion-icon name="chevron-back" slot="start"></ion-icon>
        VOLTAR
      </ion-button>
      <ion-button color="success" (click)="jumpToNext()" *ngIf="images[id+1]">
        <ion-icon name="chevron-forward" slot="end"></ion-icon>
        PRÓXIMO</ion-button>
      <ion-button id="special" color="tertiary" (click)="returnToPage()" *ngIf="id+1 === images.length">
        FIM!</ion-button>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<ion-content [fullscreen]="true">
  <p style="padding: .2rem; margin: 0; margin-top: .5rem; width: 100%; text-align: center;">
    {{images.length}} / {{id+1}}
  </p>
  <ion-grid *ngIf="currentScene">
    <ion-row>
      <ion-card>
        <img [alt]="currentScene.descriptionAlt" [src]="currentScene.src" />
        <ion-card-header>
          <ion-card-subtitle>Cena {{id+1}} - {{currentScene.descriptionAlt}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let script of scripts">
      <ion-icon color="tertiary" name="volume-medium" slot="end" (click)="pronounceWord(script, 4)"></ion-icon>
      <ion-card-header>
        <ion-card-title [style]="'color: ' + getColorFor(getFromScript(script, 'person'))">{{ getFromScript(script,
          'person') }}:
          <span style="color: black;">{{
            getFromScript(script, 'predicate')
            }}</span></ion-card-title>
      </ion-card-header>
    </ion-item>
  </ion-list>
</ion-content>
